In [ ]:
'''
Only use this cell if running the file on google colab and need to read datasets as zip files from drive 
'''
#Extracting the zipfile in google drive
import zipfile
from google.colab import drive

drive.mount('/content/drive/')

zip_ref = zipfile.ZipFile("/content/drive/My Drive/reduced_features_data24_test.zip", 'r')
zip_ref.extractall("/tmp")
zip_ref.close()

In [12]:
#importing necessary libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
import pickle

In [13]:
#reading the csv (big file more than 1 GB)
df=pd.read_csv("..\\reduced_features_data24_test.csv")
df.head()

,faced,"rect2_hort_1x2_(0,0)","rect2_hort_1x2_(0,2)","rect2_hort_1x2_(0,4)","rect2_hort_1x2_(0,6)","rect2_hort_1x2_(0,8)","rect2_hort_1x2_(0,10)","rect2_hort_1x2_(0,12)","rect2_hort_1x2_(0,14)","rect2_hort_1x2_(0,16)",...,"rect4_diag_24x15_(0,0)","rect4_diag_24x16_(0,0)","rect4_diag_24x17_(0,0)","rect4_diag_24x18_(0,0)","rect4_diag_24x19_(0,0)","rect4_diag_24x20_(0,0)","rect4_diag_24x21_(0,0)","rect4_diag_24x22_(0,0)","rect4_diag_24x23_(0,0)","rect4_diag_24x24_(0,0)"
0,1,149,219,213,163,69,10,5,41,127,...,12935,13852,13852,15049,15049,17847,17847,21412,21412,27238
1,1,67,61,167,131,98,70,101,147,140,...,15183,18266,18266,21658,21658,25621,25621,29981,29981,34291
2,1,214,185,140,217,168,121,112,128,179,...,28633,32138,32138,34964,34964,36508,36508,38672,38672,40664
3,1,191,186,185,154,11,2,1,2,18,...,19978,22309,22309,25315,25315,28806,28806,33447,33447,38013
4,1,245,199,149,148,90,69,100,83,121,...,16529,17651,17651,18739,18739,20998,20998,24066,24066,27588

In [14]:
df.shape

(22880, 17713)

In [15]:
df["faced"].value_counts()

faced
1    11440
0    11440
Name: count, dtype: int64

In [16]:
#Decision Tree


from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X=df.iloc[:, 1:]
y=df[["faced"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

clf = DecisionTreeClassifier(random_state=0)
clf.fit(X_train, y_train)

predictions = clf.predict(X_test)
print(round(accuracy_score(y_test, predictions),3))

0.936

In [17]:
#save the decision tree model using pickle
pickle.dump(clf, open("face_dt.sav", 'wb'))

In [ ]:
#(5)-fold cross validation
from sklearn.model_selection import cross_val_score

X=df.iloc[:, 1:]
y=df[["faced"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

clf = DecisionTreeClassifier(random_state=0)
scores=cross_val_score(clf, X, y, cv=5)
print("Mean score of %0.3f with a standard deviation of %0.3f" % (scores.mean(), scores.std()))

Mean score of 0.933 with a standard deviation of 0.003

In [ ]:
X.columns

Index(['rect2_hort_1x2_(0,0)', 'rect2_hort_1x2_(0,2)', 'rect2_hort_1x2_(0,4)',
       'rect2_hort_1x2_(0,6)', 'rect2_hort_1x2_(0,8)', 'rect2_hort_1x2_(0,10)',
       'rect2_hort_1x2_(0,12)', 'rect2_hort_1x2_(0,14)',
       'rect2_hort_1x2_(0,16)', 'rect2_hort_1x2_(0,18)',
       ...
       'rect4_diag_24x15_(0,0)', 'rect4_diag_24x16_(0,0)',
       'rect4_diag_24x17_(0,0)', 'rect4_diag_24x18_(0,0)',
       'rect4_diag_24x19_(0,0)', 'rect4_diag_24x20_(0,0)',
       'rect4_diag_24x21_(0,0)', 'rect4_diag_24x22_(0,0)',
       'rect4_diag_24x23_(0,0)', 'rect4_diag_24x24_(0,0)'],
      dtype='object', length=17712)

In [ ]:
y.columns

Index(['faced'], dtype='object')

In [ ]:
# From simple decision tree we get an 5-fold cv mean accuracy of 93.3% with very little sd of 0.003

In [ ]:
# Ensemble trees

In [19]:
#Random Forest

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np

X=df.iloc[:, 1:]
y=df[["faced"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(X_train, np.ravel(y_train))

predictions = rf_clf.predict(X_test)
print(round(accuracy_score(y_test, predictions),3))

0.978

In [20]:
#save the Random Forest model using pickle
pickle.dump(rf_clf, open("face_rf.sav", 'wb'))

In [ ]:
# Bagging (Random Forest)
from sklearn.ensemble import RandomForestClassifier
import numpy as np

X=df.iloc[:, 1:]
y=df[["faced"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

rf_clf = RandomForestClassifier(random_state=0)
scores=cross_val_score(rf_clf, X, np.ravel(y), cv=5)
print("Mean score of %0.3f with a standard deviation of %0.3f" % (scores.mean(), scores.std()))

Mean score of 0.979 with a standard deviation of 0.002

In [ ]:
# From Random Forest we get an 5-fold cv mean accuracy of 97.9% with very little sd of 0.002

In [21]:
#AdaBoost

from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np

X=df.iloc[:, 1:]
y=df[["faced"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

ab_clf = AdaBoostClassifier(random_state=0)
ab_clf.fit(X_train, np.ravel(y_train))

predictions = ab_clf.predict(X_test)
print(round(accuracy_score(y_test, predictions),3))

0.961

In [22]:
#save the Random Forest model using pickle
pickle.dump(ab_clf, open("face_ab.sav", 'wb'))

In [ ]:
# Boosting (AdaBoost) (Decision tree estimator with max_depth=1 (decision stumps))
from sklearn.ensemble import AdaBoostClassifier

X=df.iloc[:, 1:]
y=df[["faced"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)


ab_clf = AdaBoostClassifier(random_state=0)
scores=cross_val_score(ab_clf, X, np.ravel(y), cv=5)
print("Mean score of %0.3f with a standard deviation of %0.3f" % (scores.mean(), scores.std()))

Mean score of 0.961 with a standard deviation of 0.002

In [ ]:
# From AdaBoost we get an 5-fold cv mean accuracy of 96.1% with very little sd of 0.002